<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whu.edu.cn.mapper.GcProductMapper">

    <select id="getProductsByParams" resultType="whu.edu.cn.entity.Ingest.view.GcSensorLevelProduct">
        select * from "SensorLevelAndProduct_${cubeID}" where 1=1
        <if test="productName !='' and productName!=null">
            AND product_name = #{productName}
        </if>
        <if test="startTime!=null ">
            AND phenomenon_time > #{startTime}
        </if>
        <if test="endTime!=null">
            AND #{endTime}>phenomenon_time
        </if>
        <if test="WKT!=null and WKT!=''">
            AND ST_Intersects(geom,'SRID=4326;${WKT}')
        </if>
    </select>

    <select id="getProductsOfCubeWithCQL" resultType="whu.edu.cn.entity.Ingest.GcProduct">
        select gc_product_${cubeID}.*, gc_measurement.measurement_name as measurementName from gc_product_${cubeID}
            left join gc_product_measurement_${cubeID}
            on gc_product_${cubeID}.product_key = gc_product_measurement_${cubeID}.product_key
            left join gc_measurement on gc_measurement.measurement_key = gc_product_measurement_${cubeID}.measurement_key
            where 1=1
        <if test="cql!=null ">
            ${cql}
        </if>
        <if test="startTime!=null ">
            AND phenomenon_time > #{startTime}
        </if>
        <if test="endTime!=null">
            AND #{endTime}>phenomenon_time
        </if>
        <if test="WKT!=null and WKT!=''">
            AND ST_Intersects(geom,'SRID=4326;${WKT}')
        </if>
    </select>


    <select id="getProductsOfCube" resultType="whu.edu.cn.entity.Ingest.GcProduct">
        select * from gc_product_${cubeID} where 1=1
        <if test="startTime!=null ">
            AND phenomenon_time > #{startTime}
        </if>
        <if test="endTime!=null">
            AND #{endTime}>phenomenon_time
        </if>
        <if test="WKT!=null and WKT!=''">
            AND ST_Intersects(geom,'SRID=4326;${WKT}')
        </if>
    </select>

    <select id="getProductsOfCubeCount" resultType="Integer">
        Select COUNT(*) from gc_product_${cubeID} where 1=1
        <if test="startTime!=null ">
            AND phenomenon_time > #{startTime}
        </if>
        <if test="endTime!=null">
            AND #{endTime}>phenomenon_time
        </if>
        <if test="WKT!=null and WKT!=''">
            AND ST_Intersects(geom,'SRID=4326;${WKT}')
        </if>
    </select>

    <select id="getProductsOfCubeCountWithCQL" resultType="Integer">
        select COUNT(*) from gc_product_${cubeID}
        left join gc_product_measurement_${cubeID}
        on gc_product_${cubeID}.product_key = gc_product_measurement_${cubeID}.product_key
        left join gc_measurement on gc_measurement.measurement_key = gc_product_measurement_${cubeID}.measurement_key
        where 1=1
        <if test="cql!=null ">
            ${cql}
        </if>
        <if test="startTime!=null ">
            AND phenomenon_time > #{startTime}
        </if>
        <if test="endTime!=null">
            AND #{endTime}>phenomenon_time
        </if>
        <if test="WKT!=null and WKT!=''">
            AND ST_Intersects(geom,'SRID=4326;${WKT}')
        </if>
    </select>


    <select id="getProductByIdentification" resultType="whu.edu.cn.entity.Ingest.GcProduct">
        Select gc_product_${cubeID}.*, gc_measurement.measurement_name as measurementName from gc_product_${cubeID}
        left join gc_product_measurement_${cubeID}
        on gc_product_${cubeID}.product_key = gc_product_measurement_${cubeID}.product_key
        left join gc_measurement on gc_measurement.measurement_key = gc_product_measurement_${cubeID}.measurement_key
        where product_identification = #{identification}
    </select>

</mapper>




































